* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Tajawal', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1d1c1c;
    border-color: #9b907f;
    color: #fff;
}


main {
    width: 95%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

main img {
    width: 60%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

h1{
    text-align: center;
}

.services {
    margin: 20px 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services > div {
    margin: 10px auto;
    margin:10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.services h4{
    text-align: center;
}

.services section:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


img {
    width: 100%;
    height: 350px;
    margin: 5px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width:769px) {
    main img {
        width: 90%;
    }
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0 40px;
}
.project-details p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-right: 2px;
    padding: 15px;
    color: #b7b7b7;
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
}
.project-details h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-right: 2px;
    padding: 15px;
    color: #b7b7b7;
    text-align: justify;
    text-justify: inter-word;
}
.project-details span{
 background-color: #935f33;
 padding: 10px;
 text-align: center;
 font-size: 25px;
}