* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1d1c1c;
    border-color: #9b907f;
    color: #fff;
}


header {
    background-color: rgba(67, 66, 63, 0.7);/* Using rgba for transparency */
    color: #fff7f7;
    padding: 2px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav {
   
    color: #fffbfb;
    padding: 2px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}


nav ul li a {
    text-decoration: none;
    color: #dfceb6;
    font-size: 20px;
}

nav ul li a:hover {
    color: #b4b1e9;
}

:root {
    --headerclr: #222533;
    --mainclr: #b77f42;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h3{
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}
.background-image {
    background: url(imgs/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.inner-back-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.inner-back-text h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}

.inner-back-text h1 span {
    color: var(--mainclr);
    text-transform: uppercase;
}

.inner-back-text p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding: 1rem;
}

.inner-back-btn {
    display: flex;
    justify-content: center;
}

.inner-back-btn a {
    margin-right: 1rem;
}

.first-btn,
.second-btn {
    padding: 1.5rem 2.1rem;
    background: var(--mainclr);
    border-radius: 15px;
    color: var(--headerclr);
    font-size: 1.8rem;
    background-color: #b77f42;
}

.first-btn:hover,
.second-btn:hover {
    background: var(--headerclr);
    color: white;
    letter-spacing: 3px;
}

@media (max-width:767px) {
    html {
        font-size: 55%;
    }

    #menu-bar {
        display: initial;
    }

    .header {
        padding: 3rem;
    }

    .nav {
        position: absolute;
        top: 100%;
        width: 80%;
        left: 10%;
        top: -1000%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        transition: .5s;
    }

    .nav a {
        color: black;
        display: block;
        margin: 1rem;
        font-size: 14px;
    }

    .inner-back-text {
        width: 100% !important;
    }

}
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #dfceb6;
    font-family: Georgia, 'Times New Roman', Times, serif;

}