* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1d1c1c;
    border-color: #9b907f;
    color: #fff;
}

/* Navigation Styles */
nav {
    display: flex;
    background-color: rgba(97, 96, 95, 0.3);
    color: #fff7f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    justify-content: space-between;
}

nav h3 {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 20px;
    justify-content: center;
}

nav h3:hover {
    color: #b77f42;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: 35px;
    list-style: none;
    text-decoration: none;
    margin: 0px 10px;
    padding-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #b77f42;
    font-size: 25px;
}

nav ul li a:hover {
    color: #222533;
}


.user {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.user a {
    font-size: 35px;
    color: #b77f42;
    margin: 0px 40px;
}

.user a:hover {
    color: #222533;
}

.inner-back-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: #fff5e6;
    
}
h2{
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}
h3{
    text-align: center;
}


.background-image {
    background: url(imgs/13.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.services {
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 98%;
}

.services div {
    margin: 10px auto;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
}

.services section {
    width: 500px;
    text-align: center;
}

.services section:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

img {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #dfceb6;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@media (max-width:769px) {
    .services div {
        width: 97%;
    }
}