@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    line-height: 1.6;
}

#ham {
    font-size: 20px;
    cursor: pointer;
    display: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(97, 96, 95, 0.3);
    padding: 10px;
    color: #b77f42;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0%;
}

header nav {
    width: 50%;
}

header h1 {
    font-size: 35px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 5px;
    font-size: 20px;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #b77f42;
}

nav a:hover, header h1:hover {
    color: black;
    cursor: pointer;

}


.inner-back-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: #fff5e6;

}

.services {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 99%;
}

.services div {
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.services section {
    width: 400px;
    text-align: center;
}

.services section:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.background-image {
    background: url(imgs/10.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #dfceb6;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@media (max-width:769px) {
    .services div {
        width: 97%;
    }
}


@media(max-width:767px) {
    #ham {
        display: block;
    }

    nav {
        margin: 0;
        position: absolute;
        top: -600%;
        left: 0;
        width: 100% !important;
        height: fit-content;
        background-color: rgba(97, 96, 95, 0.897);
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }

    nav.active {
        top: 70px;
    }

    header nav ul {
        display: block;
    }
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 0;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

footer div p {
    width: 40%;
    opacity: 0.7;
}

footer div p i {
    margin-right: 5px;
}

footer div h1 {
    margin-top: 50px;
    background: linear-gradient(to right, #b77f42 0%, #b77f42 50%, #333 50%, #333 100%);
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
}

footer div h3 {
    font-size: 32px;
}

@media(max-width:768px) {
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
    }
}